{
    box-sizing: border-box;
    font-family: Calibri, Helvetica, sans-serif;
    color: #777;
    
    
}


    
.navbar{
   background-color: darkblue;
  
}

.navbar-brand{
    background-color: lightblue;
    margin: 7%;
    padding-left: 50%;
    padding-right: 50%;
    text-align: center;
    font-family: Calibri;
	color: white;
	font-size: 25px;
}
.summary{
    color: blue;
    font-family: Calibri, 'Times New Roman', Times, serif;
}
.para{
    font-family: Calibri, Helvetica, sans-serif;
}
.footer{
    background-color: darkblue;
    border-bottom-color: blue;
	text-align: center;
}
p{
    font-size: 20px;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 25px;
}
h5{
    font-size: 20px;
}
.latitude{
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dropdown-menu{
   background-color: lightblue;
   color: white;
}
.content{
	font-size: 20px;
	font-weight; bold
}